[submodule "bv-algorithm"]
	path = bv-algorithm
	url = https://bitbucket.org/bookvoyagerdevteam/bv-algorithm
[submodule "bv-store"]
	path = bv-store
	url = https://bitbucket.org/bookvoyagerdevteam/bv-store
